html,body {
    height:100%;
    overflow: hidden;
}

#floating-panel {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  background: none;
}

@media (min-width: 768px){
  #leftcol {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 34%;
    overflow-y: auto;
    padding: 0;
  }
  #rightcol {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    width: 66%;
    padding: 0;
  }
}

#map {
    width: 100%;
    height: 100%;
}

#chart1, #chart2 {
    height: 130px;
    width: 100%;
    font: 10px sans-serif;
}

#chart-temp {
    height: 180px;
    width: 100%;
    font: 10px sans-serif;
}

.navbar-custom {
    color: #FFFFFF;
    background-color: #CC3333;
}

.bar {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.text {
  fill: #fff;
}


.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#side-menu {
    margin: 25px 30px 30px 30px;
}
